aside {
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90%;
    height: 100vh;
    position: absolute;
    position: sticky;
    top: 0;
    left: 0;
    z-index: +10;
    padding: 1.5em;
}

.public {
    background-color: #f9ce91;
}

.admin {
    background-color: #cff0ff;
}

ul{
    list-style: none;
}

@media (min-width: 426px) {
    aside {
        width: 25%;
    }
}

@media (min-width: 769px) {
    aside {
        width: 18%;
    }
}