:root {
    /* Color */
    --bg-color: #fffffe;
    --highlight-color: #ffd803;
    --secondary-color: #e3f6f5;
    --tertiary-color: #bae8e8;
    --border-color: #272343;
    --color-heading: #272343;
    --color-text: #2d334a;
}

:root {
    /* Main */
    --color-primary-darker: hsv(250, 84%, 38%);
    --color-primary-dark: hsv(250, 84%, 46%);
    --color-primary: hsv(250, 84%, 54%);
    --color-primary-light: hsv(250, 84%, 60%);
    --color-primary-lighter: hsv(250, 84%, 67%);

    --color-accent-darker: hsv(342, 89%, 38%);
    --color-accent-dark: hsv(342, 89%, 43%);
    --color-accent: hsv(342, 89%, 48%);
    --color-accent-light: hsv(342, 89%, 56%);
    --color-accent-lighter: hsv(342, 89%, 62%);

    --color-black: hsv(230, 13%, 9%);
    --color-white: hsv(0, 0%, 100%);

    /* // feedback */
    --color-warning-darker: hsv(35, 79%, 48%);
    --color-warning-dark: hsv(35, 79%, 56%);
    --color-warning: hsv(35, 79%, 66%);
    --color-warning-light: hsv(35, 79%, 74%);
    --color-warning-lighter: hsv(35, 79%, 82%);

    --color-success-darker: hsv(170, 78%, 26%);
    --color-success-dark: hsv(170, 78%, 31%);
    --color-success: hsv(170, 78%, 36%);
    --color-success-light: hsv(170, 78%, 42%);
    --color-success-lighter: hsv(170, 78%, 47%);

    --color-error-darker: hsv(342, 89%, 38%);
    --color-error-dark: hsv(342, 89%, 43%);
    --color-error: hsv(342, 89%, 48%);
    --color-error-light: hsv(342, 89%, 56%);
    --color-error-lighter: hsv(342, 89%, 62%);

    /* // background */
    --color-bg-darker: hsv(240, 4%, 90%);
    --color-bg-dark: hsv(240, 4%, 95%);
    --color-bg: hsv(0, 0%, 100%);
    --color-bg-light: hsv(0, 0%, 100%);
    --color-bg-lighter: hsv(0, 0%, 100%);

    /* // color contrasts */
    --color-contrast-lower: hsv(240, 4%, 85%);
    --color-contrast-low: hsv(240, 4%, 65%);
    --color-contrast-medium: hsv(225, 4%, 47%);
    --color-contrast-high: hsv(230, 7%, 23%);
    --color-contrast-higher: hsv(230, 13%, 9%);
}

[data-theme="dark"] {
    /* // main */
    --color-primary-darker: hsv(250, 100%, 60%);
    --color-primary-dark: hsv(250, 100%, 64%);
    --color-primary: hsv(250, 100%, 69%);
    --color-primary-light: hsv(250, 100%, 72%);
    --color-primary-lighter: hsv(250, 100%, 76%);

    --color-accent-darker: hsv(342, 92%, 41%);
    --color-accent-dark: hsv(342, 92%, 47%);
    --color-accent: hsv(342, 92%, 54%);
    --color-accent-light: hsv(342, 92%, 60%);
    --color-accent-lighter: hsv(342, 92%, 65%);

    --color-black: hsv(230, 13%, 9%);
    --color-white: hsv(0, 0%, 100%);

    /* // feedback */
    --color-warning-darker: hsv(35, 79%, 48%);
    --color-warning-dark: hsv(35, 79%, 56%);
    --color-warning: hsv(35, 79%, 66%);
    --color-warning-light: hsv(35, 79%, 74%);
    --color-warning-lighter: hsv(35, 79%, 82%);

    --color-success-darker: hsv(170, 78%, 26%);
    --color-success-dark: hsv(170, 78%, 31%);
    --color-success: hsv(170, 78%, 36%);
    --color-success-light: hsv(170, 78%, 42%);
    --color-success-lighter: hsv(170, 78%, 47%);

    --color-error-darker: hsv(342, 92%, 41%);
    --color-error-dark: hsv(342, 92%, 47%);
    --color-error: hsv(342, 92%, 54%);
    --color-error-light: hsv(342, 92%, 60%);
    --color-error-lighter: hsv(342, 92%, 65%);

    /* // background */
    --color-bg-darker: hsv(232, 7%, 8%);
    --color-bg-dark: hsv(233, 8%, 11%);
    --color-bg: hsv(232, 11%, 15%);
    --color-bg-light: hsv(233, 8%, 19%);
    --color-bg-lighter: hsv(232, 7%, 22%);

    /* // color contrasts */
    --color-contrast-lower: hsv(240, 6%, 26%);
    --color-contrast-low: hsv(240, 3%, 41%);
    --color-contrast-medium: hsv(213, 3%, 57%);
    --color-contrast-high: hsv(240, 5%, 82%);
    --color-contrast-higher: hsv(240, 100%, 99%);
}