/* Footer */
footer {
    background-color: #ffeacf;
    text-align: center;
    color: var(--tx-color);
    padding: 5em 0 1em;
    border-top: 2px solid var(--border-color);
}

footer div {
    display: inline-block;
    text-align: start;
    margin: 0 4em;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul img {
    display: inline;
    vertical-align: middle;
    margin-right: 0.5rem;
    width: 1.5em;
}

footer p {
    margin: 5em 0 0;
}