.content:has(form) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

form {
    flex: 0 1 60ch;
}

form>* {
    display: block;
    width: 100%;
}

form *:not(label) {
    margin-bottom: var(--space-md);
}

textarea {
    height: 5em;
    min-height: 5em;
    resize: vertical;
}

input,
button,
textarea,
select {
    padding: 0.25em 0.5em;
    border-radius: 0.15em;
    border: 1px solid gray;
    background-color: white;
}