section:has(form) {
    max-width: 70ch;
}

form>* {
    display: block;
    width: 100%;

}

form *:not(label) {
    margin-bottom: var(--space-md);
}

form>button {
    width: unset;
}

textarea {
    height: 5em;
    min-height: 5em;
    resize: vertical;
}

fieldset {
    padding: 0 1em;
}