header section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

.admin header {
    background-color: #eefcff;
}

/* Links del nav */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a,
nav a:visited,
nav a:active,
nav a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 15ch;
    text-decoration: none;
    font-weight: 700;
    color: var(--heading-color);
}

#login {
    color: white;
    background-color: #0f0f0f;
    border-radius: 0.25em;
    padding: 0.5em 1.5em;
}

/* Logo */
header>a {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

/*#b6e8ff*/