header {
    background-color: #ffeacf;
    padding-top: 1em;
}

nav {
    margin-top: 1em;
    text-align: center;
}

/* Links del nav */
nav ul {
    list-style: none;
    border-bottom: 2px solid gray;
}

nav li {
    display: inline-block;
    padding: 1em 0;
    width: 8em;
}

nav li:hover {
    box-shadow: 0 4px var(--highlight-color);
    color: var(--highlight-color);
}

nav a,
nav a:visited,
nav a:active,
nav a:hover {
    display: block;
    height: 100%;
    text-decoration: none;
    font-weight: 700;
    color: var(--color-heading);
}

/* Logo */
header>a {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

header>a img {
    width: 16em;
}