header section {
    display: flex;
    justify-content: space-between;
    padding: 1em 2em;
}

.admin header {
    background-color: #cff0ff;
}

/* Links del nav */
nav {
    justify-content: center;
    align-items: center;
    width: 100%;
}

nav a,
nav a:visited,
nav a:active,
nav a:hover {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-weight: 700;
    color: var(--color-heading);
}

/* Logo */
header>a {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

header>a img {
    width: 16em;
}

.desktop {
    display: none;
}

.mobile {
    display: block;
}

@media (min-width: 1008px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }
}

/*#b6e8ff*/