@import url(theme.css);
@import url(typography.css);
@import url(spacing.css);

/* Reset CSS */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    color: var(--tx-color);
    font-family: "Open Sans", sans-serif;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.65;
    background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Fira Sans", sans-serif;
    color: var(--header-color);
    line-height: 1.15;
    font-weight: 400;
}

h1 {
    font-weight: 600;
    font-size: var(--text-xxl);
    margin-bottom: var(--space-md);
}

h2 {
    font-size: var(--text-xl);
    margin-bottom: var(--space-xs);
}

h3 {
    font-size: var(--text-lg);
}

h4 {
    font-size: var(--text-md);
}

h5 {
    font-size: var(--text-md);
}

p {
    font-size: var(--text-base-size);
    margin-bottom: var(--space-lg);
}

small {
    font-size: var(--text-sm);
}

label {
    font-weight: 500;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

button {
    background-color: var(--highlight-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    font-weight: 700;
    box-shadow: 0 3px var(--border-color);
    margin-top: 1.5em;
    margin-bottom: 1em;
}

button:hover {
    background-color: #fff12a;
}

button:active {
    translate: 0 3px;
    box-shadow: 0px 0px var(--border-color);
}

select {
    background-color: var(--secondary-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
}

td {
    width: 50px;
    height: 50px;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
    user-select: none;
}

td:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

td:active {
    background-color: var(--tertiary-color);
}

main>* {
    margin: 0 auto;
    max-width: 1200px;
}

table {
    table-layout: fixed;
    border: 4px solid var(--border-color);
    border-collapse: collapse;
    max-width: fit-content;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid gray;
}

nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3rem;
    width: 8rem;
    text-decoration: none;
    font-weight: 700;
    color: var(--header-color);
}

nav a:hover {
    border-bottom: 4px solid var(--highlight-color);
    color: var(--highlight-color);
    translate: 0 2px;
    fill: #fff12a;
}

header>a {
    display: block;
    width: fit-content;
    margin: 1rem auto;
}

header>a img {
    width: 200px;
}

section {
    padding: 80px;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: var(--tertiary-color);
}

.login {
    padding: 4rem 8rem;
    border: 2px solid var(--border-color);
    border-radius: 1rem;
    text-align: center;
}

.login button {
    display: inline;
}

.login label {
    text-align: start;
}

section.login-section {
    position: relative;
    width: 100%;
    height: 40rem;
    background-color: var(--secondary-color);
}

form>* {
    display: block;
}

label {
    margin-top: 1rem;
    margin-bottom: 0.1rem;
}

input {
    height: 3em;
    width: 40ch;
    padding-left: 1rem;
    border: 0;
    border-radius: 0.25rem;
}

input:focus,
input:focus-visible {
    outline: 2px solid var(--border-color);
}