@import url(color.css);
@import url(typography.css);
@import url(spacing.css);
@import url(header.css);
@import url(footer.css);
@import url(forms.css);

/* ======= Configuracions inicials ======= */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    color: var(--tx-color);
    font-family: "Open Sans", sans-serif;
}

body {
    background-color: var(--bg-color);
}

/* ======= Elements multimedia y de formularis ======= */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
    border-radius: 0.5em;
}

iframe {
    width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

/* ======= Disposició de les pàgines ======= */
main {
    padding: 0 1em;
}

main>* {
    width: 900px;
    min-width: 20ch;
    max-width: 100%;
    margin: 4rem auto;
}


/* ======= Botons generics ======= */
button {
    background-color: var(--highlight-color);
    border: 1px solid var(--border-color);
    border-radius: 0.5rem;
    padding: 0.5rem 2rem;
    font-weight: 700;
    box-shadow: 0 3px var(--border-color);
    margin-top: 1.5em;
    margin-bottom: 1em;
}

button:hover {
    background-color: #fff12a;
}

button:active {
    translate: 0 3px;
    box-shadow: 0px 0px var(--border-color);
}

/* ======= Taules de sopes ======= */
.game-board {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    position: relative;
}

.game-board table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border: 4px solid var(--border-color);
}

.game-board td {
    width: 10%;
    height: 10%;
    font-weight: 700;
    font-size: 100%;
    text-align: center;
    user-select: none;
    transition: background-color 0.3s, transform 0.2s;
}

.game-board td:hover {
    background-color: var(--secondary-color);
    cursor: pointer;
}

.game-board td:active {
    background-color: var(--tertiary-color);
}

/* ======= Taules de ranking ======= */


/* ======= Clases ======= */
.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--tertiary-color);
}

.center-text {
    text-align: center;
}

.ranking-table-container {
    display: inline-block;
    width: 49%;
    margin-bottom: 2em;
}

.game-container::after {
    content: "";
    display: table;
    clear: both;
}

.game-zone {
    text-align: center;
    float: left;
    width: 60%;
}

.game-words {
    float: left;
    width: calc(40% - 4em);
    margin-left: 2em;
    margin-top: 8em;
}

.game-words li {
    line-height: 2.6;
    list-style: circle;
    margin-left: 1em;
}

#gameTimer,
#gameScore {
    border-radius: 0.5em;
    margin: 1em;
}