@import url(color.css);
@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --font-primary: 'Open Sans', system-ui, sans-serif;
    --font-heading: 'Fira Sans', system-ui, sans-serif;

    --text-base-size: 1rem;
    --text-scale-ratio: 1.2;

    --body-line-height: 1.65;
    --heading-line-height: 1.15;

    --text-unit: var(--text-base-size);
}

:root {
    /* Escala de la tipografia segons el ratio */
    --text-xs: calc((var(--text-unit) / var(--text-scale-ratio)) / var(--text-scale-ratio));
    --text-sm: calc(var(--text-xs) * var(--text-scale-ratio));
    --text-md: calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-lg: calc(var(--text-md) * var(--text-scale-ratio));
    --text-xl: calc(var(--text-lg) * var(--text-scale-ratio));
    --text-xxl: calc(var(--text-xl) * var(--text-scale-ratio));
    --text-xxxl: calc(var(--text-xxl) * var(--text-scale-ratio));
    --text-xxxxl: calc(var(--text-xxxl) * var(--text-scale-ratio));
}

body {
    font-family: var(--font-primary);
    line-height: var(--body-line-height);
    color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: var(--font-heading);
    line-height: var(--heading-line-height);
    color: var(--heading-color);
    font-weight: 400;
}

h1 {
    font-size: var(--text-xxl);
    font-weight: 600;
}

h2 {
    font-size: var(--text-xl);
    margin-bottom: var(--space-xs);
}

h3 {
    font-size: var(--text-lg);
}

h4 {
    font-size: var(--text-md);
}

h5 {
    font-size: var(--text-md);
}

h6 {
    color: var(--text-color-gray);
}

p {
    font-size: var(--text-base-size);
}

small {
    font-size: var(--text-sm);
}

label {
    font-weight: 500;
}

/* Links */
a,
a:visited,
a:active {
    text-decoration: none;
    color: rgb(0, 90, 112);
}

a:hover {
    color: rgb(1, 177, 190);
}

input,
button,
textarea,
select {
    font: inherit;
}