:root {
    /* Color */
    --bg-color: #fffffe;
    --highlight-color: #F8C379;
    --secondary-color: #ffffff;
    --tertiary-color: #f5fffe;
    --divider-color: #dfdfdf;
    --border-color: #272343;
    --heading-color: #272343;
    --text-color: #2d334a;

    /* True colors */
    --tx-dark: #2d2d2d;
    --tx-gray: #545767;
    --tx-light: #ffffff;

    --bd-dark: #2d2d2d;
    --bd-gray: #dfdfdf;
    --bd-light: #f5f5f5;

    --bg-dark: #2d2d2d;
    --bg-highlight-dim: #f3cf9c;
    --bg-light: #ffffff;
}