@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Tipografia */
:root {
    --ft-base: 'Roboto', system-ui, sans-serif;
    --ft-accent: 'Archivo Black', system-ui, sans-serif;

    --ft-300: clamp(1rem, 0.913rem + 0.4348vw, 1.25rem);
    --ft-400: clamp(1.2rem, 1.0026rem + 0.987vw, 1.7675rem);
    --ft-500: clamp(1.44rem, 1.0716rem + 1.8422vw, 2.4992rem);
    --ft-600: clamp(1.728rem, 1.0998rem + 3.1408vw, 3.5339rem);
    --ft-700: clamp(2.0736rem, 1.0568rem + 5.0841vw, 4.997rem);
    --ft-800: clamp(2.4883rem, 0.8962rem + 7.9607vw, 7.0657rem);
}

/* Tema clar */
@media (prefers-color-scheme: light) {
    :root {
        --clr-text: #120f0a;
        --clr-background: #faf7f2;
        --clr-primary: #F8C379;
        --clr-secondary: #f2c27f;
        --clr-accent: #ffad3b;
    }
}

/* Tema obscur */
@media (prefers-color-scheme: dark) {
    :root {
        --clr-text: #f6f3ef;
        --clr-background: #0f0b06;
        --clr-primary: #885207;
        --clr-secondary: #82510d;
        --clr-accent: #c27100;
    }
}