form>*:not(label) {
    margin-bottom: var(--space-md);
}

textarea {
    height: 5em;
    min-height: 5em;
    resize: vertical;
}

input,
button,
textarea,
select {
    padding: 1em;
    border-radius: 0.5em;
    border: 1px solid var(--bd-gray);
    background-color: var(--bg-light);
    width: 100%;
}