header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background-color: var(--bg-light);
    border-bottom: 1px solid var(--bd-gray);
}

header section {
    flex: 0 1 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em 2em;
}

header div {
    display: flex;
    align-items: center;
    gap: 1.5em;
}

.admin header {
    background-color: #eefcff;
}

/* Links del nav */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

header a,
header a:visited,
header a:active,
header a:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--heading-color);
    color: var(--tx-dark);

}

#login,
#signup {
    border-radius: 0.25em;
}

#signup {
    padding: 0.5em 1.5em;
    color: var(--tx-light);
    background-color: var(--bg-dark);
}

/* Logo */
header>a {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

/*#b6e8ff*/