@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    /* colors */
    --gray10: hsl(0, 0%, 10%);
    --gray90: hsl(0, 0%, 90%);

    --font-heading: "DM Sans", sans-serif;
    --font-base: "Inter", sans-serif;
    --h1: bold 4rem/1em var(--font-heading);
    --h2: bold 3rem/1.2em var(--font-heading);
    --h3: bold 2.25rem/1.2em var(--font-heading);
    --h4: bold 1.5rem/1.6em var(--font-heading);
    --big: 1.25rem/1.6em var(--font-heading);
    --p: 1rem/1.6em var(--font-base);
    --small: .75rem/2em var(--font-base);
}